# Plantilla de configuración Kerberos
# Copiar a krb5.conf y reemplazar los placeholders con los datos del AD
[libdefaults]
    default_realm = <REALM>
    dns_lookup_realm = false
    dns_lookup_kdc = false
    ticket_lifetime = 24h
    forwardable = true

[realms]
    <REALM> = {
        kdc = <IP_OR_HOSTNAME_KDC>
        admin_server = <IP_OR_HOSTNAME_KDC>
    }

[domain_realm]
    .<dominio_minuscula> = <REALM>
    <dominio_minuscula> = <REALM>